@media (min-width: 780px) {
  .so-widget-sow-layout-slider-default-4a61cfcf6efd {
    min-height: 750px;
  }
}
@media (max-width: 780px) {
  .so-widget-sow-layout-slider-default-4a61cfcf6efd {
    min-height: 500px;
  }
}
.so-widget-sow-layout-slider-default-4a61cfcf6efd .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
  padding: 50px 20px 50px 20px;
  max-width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 780px) {
  .so-widget-sow-layout-slider-default-4a61cfcf6efd .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
    height: 500px;
  }
}
.so-widget-sow-layout-slider-default-4a61cfcf6efd .sow-slider-base .sow-slider-pagination li a {
  background: #121e8e;
}
.so-widget-sow-layout-slider-default-4a61cfcf6efd .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-layout-slider-default-4a61cfcf6efd .sow-slider-base .sow-slide-nav a {
  color: #121e8e;
}